{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
        <div>
            <div>
                <div>
                    <div>{{post.updatedat|date('H:i:s d-m-Y')}} About: {{post.title}} <a href="{{path('update',{slug: post.slug})}}">Edit</a> <a href="{{path('delete',{id: post.id})}}">Delete</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}